SolutionCV/ClienteWeb/Connected Services/RefServicio3/ServicioCV3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PersonaGeneral">
        <s:complexType />
      </s:element>
      <s:element name="PersonaGeneralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonaGeneralResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PersonaGeneralSoapIn">
    <wsdl:part name="parameters" element="tns:PersonaGeneral" />
  </wsdl:message>
  <wsdl:message name="PersonaGeneralSoapOut">
    <wsdl:part name="parameters" element="tns:PersonaGeneralResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioCV3Soap">
    <wsdl:operation name="PersonaGeneral">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PersonaGeneral</wsdl:documentation>
      <wsdl:input message="tns:PersonaGeneralSoapIn" />
      <wsdl:output message="tns:PersonaGeneralSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioCV3Soap" type="tns:ServicioCV3Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PersonaGeneral">
      <soap:operation soapAction="http://tempuri.org/PersonaGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioCV3Soap12" type="tns:ServicioCV3Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PersonaGeneral">
      <soap12:operation soapAction="http://tempuri.org/PersonaGeneral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCV3">
    <wsdl:port name="ServicioCV3Soap" binding="tns:ServicioCV3Soap">
      <soap:address location="https://localhost:44385/ServicioCV3.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioCV3Soap12" binding="tns:ServicioCV3Soap12">
      <soap12:address location="https://localhost:44385/ServicioCV3.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>